@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes modal {
  from {
    transform: translateY(100%) translateX(50%);
  } to {
    transform: translateY(-50%) translateX(50%);
  }
}

@keyframes slidetoup {
  from {
    transform: translateY(100%);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-modal {
  animation: modal .4s ease;
}
.animate-slide-up {
  animation: slidetoup .8s ease;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}
